data/raw/dukascopy/*.csv filter=lfs diff=lfs merge=lfs -text
data/processed/xauusd_m1_15m_target.csv filter=lfs diff=lfs merge=lfs -text
data/processed/xauusd_m1_2019_2026.csv filter=lfs diff=lfs merge=lfs -text
